@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


.header {
  width: 60%;
  position: fixed;
  background-color: rebeccapurple;
  background-image: url(/assets/images/patterns/noise.png);
  z-index: 9999;
  left: 0px;
  right: 0px;
  margin: auto;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 20px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.511);
  transition: all 0.2s ease-in-out;


  .localNavigation{
    margin: 5px 0px;
    display: flex;
    flex-direction: column;

    .subNavigation{
      margin-top: 8px;
      display: none;
    }

    nav {
      position: relative;
      cursor: pointer;
      display: inline-block;
      padding: 5px 15px;
      border-radius: 50px;
      width: 100px;
      text-align: center;
      color: #323228;
      background-color: white;
      border: 2px solid #323228;
      background-image: url(/assets/images/patterns/noise.png);
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: orange;
        background-image: url(/assets/images/patterns/noise.png);
      }
    }
    &:hover{
      .subNavigation{
        display: block;
      }
    }
  }
}
